.login {

  &__form {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15%;
  }

  &__title {
    color: #1363CC;
    text-align: center;
    margin-left: -15vw;
    margin-bottom: 50px;
    margin-top: 50px;

    &-link {
      text-decoration: none;
      color: #fff;
      background-color: #1363CC;
      padding: 5px;
      border-radius: 8px;
      border: 3px solid #1363CC;
      transition: all .3s;

      &:hover {
        color: #1363CC;
        background-color: #000;
      }
    }
  }

  &__input {
    border-radius: 100px;
    background-color: #303031;
    border: none;
    color: white;
    font-size: 14px;
    padding: 9px;
    padding-left: 15px;
    outline: none;
    font-family: inherit;
    width: 40%;
    margin: 10px;
  }

  &__button {
    background-color: #1363CC;
    color: #fff;
    padding: 0px 15px;
    font-size: 1.5rem;
    border: none;
    outline: none;
    height: 40px;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
      background-color: darken(#1363CC, 15%);
    }

    &--submit {
      width: 100px;
      margin-left: 10px;
      margin-bottom: 20px;
      border-radius: 100px;
    }

    &--google {
      margin-right: 20px;
      background-color: #0054E0;

      &:hover {
        background-color: darken(#0054E0, 15%);
      }
    }

    &--github {
      background-color: #323131;

      &:hover {
        background-color: darken(#323131, 15%);
      }
    }
  }

  &__link {
    font-weight: bold;
    font-size: 1.25rem;
    text-decoration: none;
    color: #1363CC;

    &:hover {
      color: darken(#1363CC, 15%);
    }
  }  
}

@media screen and (max-width: 600px) {
  .login {
    &__form {
      padding: 10px;
    }

    &__input {
      height: 50px;
      margin: 10px 0;
      width: 100%;
    }

    &__button {
      height: 50px;
      margin: 10px;
      width: calc(50% - 20px);
    }

    &__button--submit {
      height: 50px;
      margin: 0;
      width: 100%;
    }
  }
}