.home {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  text-align: center;

  &__title {
    border: 1px solid red;
    font-size: 3rem;
    margin-bottom: 0;
  }

  &__subtitle {
    border: 1px solid green;
    font-size: 1.5rem;
  }

  &__links {
    border: 1px solid purple;
    display: flex;
    justify-content: center;
  }

  &__btn {
    margin: 0 10px;
    text-decoration: none;
    color: #1363cc;
    transition: all .3s;

    &:hover {
      color: #000;
    }
  }
}