.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: #343739;
  height: 6vh;
  border-bottom: 1px solid darken(#9ec0ff, 10%);
  
  &__brand {
    font-size: 2rem;
    text-decoration: none;
    font-weight: 700;
    color: #1363cc;
    transition: all .3s;
    
    &:hover {
      color: #000;
    }
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__link {
    text-decoration: none;
    background-color: #1363CC;
    color: white;
    border: none;
    padding: 10px 0;
    font: 500 20px Arial;
    margin: 5px;
    border-radius: 3px;
    cursor: pointer;
    transition: all .3s;
    width: 100px;
    text-align: center;

    &:hover {
      background-color: #000;
      color: lighten(#1363CC, 15%);
    }
  }
}